@font-face {
  font-display: fallback;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('PTS75F_W.woff2') format('woff2');
}

@font-face {
  font-display: fallback;
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Narrow Bold'), url('PTN77F_W.woff2') format('woff2');
}
